/* ========================================================================== */
/* EDIT : VANESSA HURTADO
/* ========================================================================== */

// test
/* ======================================================================== */
/*                             COLORS                                       */
/* ======================================================================== */
$green: #2ecc71;
$red: #e74c3c;
$blue: #36b;
$yellow: #f1c40f;
$purple: #8e44ad;
$turquoise: #1abc9c;
$black: #000;
$white: #fff;
$darkgray: #ccc;
//background-color:red;
// display: inline-block;


body {
    background: $white !important;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    height: 100vh;
}

h1,
h3 {
    font-family: 'Gilroy';
    font-weight: 800;
    text-transform: uppercase;
}
h1 {
    font-size: 4em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-family: 'Gilroy' !important;
    font-weight: 800;
}

h5 {
    font-family: 'Gilroy';
    font-weight: 300;
    text-transform: uppercase;
}

input,
p,
a {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: $black;
}

.site {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* ========================================================================== */
/*                                  HERO                                      */
/* ========================================================================== */
/* hero image */ 

.jumbotron {
    height: 40vw;
    display: block;
    background-repeat: no-repeat;
    border-radius: 0;
}

/* hero text*/

.jumbotron-text {
    display: inline-block;
    position: relative;
    text-align: left;
    max-width: 100%;
    max-height: 100%;
    text-transform: uppercase;
    padding: 100px;
}

/* ========================================================================== */
/*                              NAVIGATION BAR                                */
/* ========================================================================== */

/* navbar menu */

.menu-item {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 0;
}

.collapse:not(.show) {
    display: block !important;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-nav .show>.nav-link { color: $black; }

/* dropdown menu */ 

.dropdown-toggle::after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    border-top: 0;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    content: "\f0c9";
    font-family: FontAwesome !important;
}

.dropdown-toggle {
    visibility: hidden;
    position: relative;
}

.dropdown-item {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, .15);
}

.dropdown-item:last-child,
.dropdown-item:first-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.dropdown-menu {
    right: 0 !important;
    left: auto !important;
    padding: 0;
    .show {
        background: rgba(255, 255, 255, 0.5);
        border-radius: 0;
        border: 0;
    }
}

/* menu */ 

.navbar-menu {
    float: right;
    position: relative;
    text-align: left;
    max-width: 100%;
    max-height: 100%;
    padding: 15px;
}

.navbar {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.navbar-row {
    flex: 1;
}

.navbar-search {
    float: left;
    margin-left: auto;
    margin-right: 0;
}

.search-form #label {
    display: inline;
    input {
        width: 80% !important;
    }
}

.search-form 
{
    font-size: 18px;
    > * {
        font-size: unset;
    }

}
   

/* search bar*/

.search-button {
    border: 1px solid;
    padding: 1px 8px;
}

.search-field {
    border: 1px solid;
}

.container-fluid {
    padding: 0;
}

/* ========================================================================== */
/*                          FOOTER                                            */
/* ========================================================================== */

/* footer */

#wrapper-footer {
    background-color: $darkgray;
}

.footer-links {
    text-align: center;
}

/* ========================================================================== */
/*                              LANDING SCREEN                                */
/* ========================================================================== */

.landing-content {
    padding-top: 50px;
}

.landing-content > * {
    padding-top: 20px;
}

.landing-content p {
    max-width: 720px;
    margin: auto;
    text-align: justify;
}

.landing-content h1 {
    text-align: center !important;
    max-width: 1120px;
}

.landing-content a {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: $blue;
}

.align-self-center {
    width: 500px;
    margin: 0 auto;
}

/*  CHAPTER BUTTONS  */
// Basic Button Style
.btn {
    box-sizing: border-box;
    appearance: none;
    background-color: $darkgray;
    border: 2px solid $black;
    color: $black;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 5em 4em;
    text-decoration: none;
    text-align: center;
    margin-bottom: 40px;
    border-radius: 0%;
    height: 28.5vmin;
    min-height: 200px;
    &:hover,
    &:focus {
        color: $white;
        outline: 0;
    }
    h5 {
        font-size: 1em;
        text-transform: uppercase;
    }
    h4 {
        font-family: 'Nunito Sans', sans-serif !important;
        font-weight: 400;
    }
}

.first {
    justify-content: center;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    &:hover {
        box-shadow: 0 0 40px 40px $black inset;
    }
}

.btn.first.odd:nth-child(even) {
    display: none;
}

.btn.first.even:nth-child(odd) {
    display: none;
}


/* ========================================================================== */
/*                              CHAPTER SCREEN                                */
/* ========================================================================== */
/* chapter text*/

.chapter-titles {
    position: relative;
    text-align: left;
    max-width: 100%;
    max-height: 100%;
    flex: 1;
}

.recommendations-content {
    margin: 30px 0;
}

.references-content {
    margin: 40px 0;
    a {
        color: $blue;
    }
}

.su-accordion {
    margin-top: 20px;
}

/* accordion tab */

.su-spoiler {
    margin-bottom: 1.5em !important;
    border-radius: 0 !important;
    background: $darkgray !important;
}

.su-spoiler {
    position: relative;
    margin-bottom: 1.5em;
    width: 100%;
    color: #fff;
    overflow: hidden;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

.su-spoiler-title {
    position: relative;
    display: block;
    padding: 15px !important;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
}

.su-spoiler-content {
    overflow: hidden;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}

div.su-spoiler-style-fancy>.su-spoiler-title {
    background: $darkgray;
    font-size: 0.9em;
    border-radius: 0;
}

/* Icon */

.su-spoiler-title::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.su-spoiler-title::after {
    font-family: FontAwesome;
    content: "\f107";
}

.su-spoiler-icon::before {
    display: none;
}

.su-spoiler-icon::after {
    transform: rotate(315deg);
}

/* SIDEBAR */

.chapter-sidebar {
    a {
        color: $blue !important;
    }
    h5 {
        text-transform: uppercase;
    }
}

#sidebar {
    padding: 0 15px 0 60px;
}

.entry-content {
    padding: 0 60px 0 0;
}

/* ========================================================================== */
/*                             SEARCH SCREEN                           */
/* ========================================================================== */


.search-highlight {
    background:#FFFF00  
    }
.entry-summary>.chapter-sidebar {
    h5 { display: none}
    a  {display: none}
}

/* ========================================================================== */
/*                              RESPONSIVE ELEMENTS                           */
/* ========================================================================== */

@media only screen and (max-width: 780px) {
    .btn.first.odd:nth-child(even) {
        display: block;
        justify-content: center;
    }
    .btn.first.even:nth-child(even) {
        display: none;
    }
    .entry-content {
        padding: 0 20px 0 20px;
    }
    .navbar-expand-md .navbar-nav .dropdown-menu {
        position: absolute;
    }
    #navbarNavDropdown {
        float: right;
        padding: 15px;
    }
    .jumbotron-text{
        padding: 10px;
        h3 { font-size: 8vw; }
        h1 {font-size:  10vw; }
    }

    .landing-content{
        h1 { font-size: 10vw;}
    }
}

@media screen and (min-width: 1600px) {
    /* Specific to this particular image */
    .jumbotron {
        background-size: contain;
    }
}

/* ========================================================================== */
/*                               FONTS                                        */
/* ========================================================================== */

@font-face {
    font-family: 'Gilroy';
    src: url('..//fonts/Gilroy-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}